<html>

<head>
    <title>Demo AR | Genius Games & InferPort</title>
    <script>
        const targetQuantity = <%= target_quantity %>;
        const debugMode = <%= debug_mode %>;
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./scripts/aframe/aframe.js"></script>
    <script src="./scripts/mindar/mindar-image-aframe.prod.js"></script>
    <script src="./scripts/jquery/jquery.min.js"></script>
    <script type="module" src="./assets/content.js"></script>
    <link href="./scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <div class="ar-viewport">
        <div id="messages">
            <div id="instructions">
                <img src="https://static.thenounproject.com/png/29509-200.png">
            </div>
            <div id="landscape-message">
                <img src="./assets/tutorial/landscape_tuto.png">
            </div>

        </div>
        <div class="ar-container">
            <a-scene loading-screen="enabled: false"
                mindar-image="imageTargetSrc: ./assets/render/qr.mind; max-track: 1; warmupTolerance: 1;"
                color-space="sRGB" renderer="colorManagement: false, physicallyCorrectLights"
                vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: true">
                <a-assets>
                    <% for (let i=1; i <=target_quantity; i++) { %>
                        <img id="card_<%=i%>" src="./assets/targets/<%=i%>.png" />
                    <% } %>
                </a-assets>

                <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>

                <% for (let i=1; i <=target_quantity; i++) { %>
                    <a-entity id="plane_<%=i%>" mindar-image-target="targetIndex: <%=i-1%>">
                        <a-plane src="#card_<%=i%>" position="0 0 0" height="<%=0.556 * scale%>" width="<%=1 * scale%>"
                            rotation="0 0 0"></a-plane>
                    </a-entity>
                <% } %>
            </a-scene>
        </div>

    </div>
</body>

</html>